<h1>Tera-Weather</h1>
<form class="form">
  <select name="cityName" [(ngModel)]="city">
    <option value="" disabled selected>Select a city</option>
    <option *ngFor="let cityName of cities" [value]="cityName">{{ cityName }}</option>
  </select>
  <button type="button" (click)="getWeather()">Get Weather</button>
</form>

<div class="card" *ngIf="weatherData">
  <div class="container">
    <div class="cloud front">
      <span class="left-front"></span>
      <span class="right-front"></span>
    </div>
    <span class="sun sunshine"></span>
    <span class="sun"></span>
    <div class="cloud back">
      <span class="left-back"></span>
      <span class="right-back"></span>
    </div>
  </div>

  <p class="headername">
    <span>{{ weatherData.name }}</span>
  </p>

  <p>Humidity: {{ weatherData.main.humidity }}</p>
  <p>Weather: {{ weatherData.weather[0].description }}</p>

  <span class="temp">{{ convertToCelsius(weatherData.main.temp) | number:'1.1-1' }}&deg; C</span>

</div>